.selected {
  background-color: var(--primary) !important;
  color: white !important;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5px;
}

.selected small {
  color: white !important;
}

.treenode.rootNode {
  background-color: var(--gray) !important;
  color: white !important;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
  --webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.treenode {
  background-color: #efefef !important;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
  --webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}
